* @import url(http://fonts.googleapis.com/css?family=Lato:400,700italic); */
* { padding: 0; margin: 0; }
body { background: #1abc9c; font-family:  Georgia, serif;; text-transform: uppercase; letter-spacing: 1px; }

header {
    text-align: justify;
    height: 8em;
    padding: 2em 20%;
    background: #2c3e50;
    color: #fff;
}
h2 {
    font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 3em;
}
header h1,
header nav {
    display: inline-block;
}
header a {
    color: white;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
#menu5 ul {
    list-style:none;
    font-family: Georgia, serif;
    font-size: 34px;
    letter-spacing: -3px;
    line-height: 1.2em;
    float:left;
    clear:both;
    margin:2 0;
    border:4px double #ccc;
}

.content {
width: 50%;
clear: both;
margin: 5% 20%;
border:2px solid #2c3e50;;
border-style: ridge;
padding: 2%;
border-radius: 3%;
}
#menu5 ul li{
    float:left;
}
#menu5 ul li a{
    display:block;
    text-decoration:none;
    padding:10px 5px 5px 10px;
    color:#555;
    background-color:#fff;
    width:170px;
}
#menu5 ul li a span{
    display:block;
}
#menu5 ul li a span.title{
    border-top:1px solid #ddd;
     border-bottom:1px solid #ddd;
}
#menu5 ul li a:hover span.title{
    color:#ccc;
}
#menu5 ul li a span.text{
    padding:0px 5px;
    font-family: Georgia, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7em;
    color:#444;
    visibility:hidden;
}
#menu5 ul li a:hover span.text{
    visibility:visible;
}
button {
    min-width: 10%;
	display: inline;
	margin: 0.3em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    border-color: black;
	position: relative;
}
.manage{
    background-color: aquamarine;
}
 .manage button{
	min-width: 30%;
}

.edit{
    background-color:#2c3e50;
}
.cancel{
    background-color:brown;
}
.status{
    background-color: blueviolet;
}
.submit{
    background-color: green;
}
.form-data{
        /* Size and position */
        width: 300px;
        margin: 60px auto 30px;
        padding: 10px;
        position: relative;
    
        /* Font styles */
        font-family: 'Raleway', 'Lato', Arial, sans-serif;
        color: white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
.form-data input[type="text"]
{
      /* Size and position */
      width: 100%;
      padding: 8px 4px 8px 10px;
      margin-bottom: 15px;
  
      /* Styles */
      border: 1px solid #4e3043; /* Fallback */
      border: 1px solid rgba(78,48,67, 0.8);
      background: rgba(0,0,0,0.15);
      border-radius: 2px;
      box-shadow: 
          0 1px 0 white, 
          inset 0 1px 1px rgba(105, 100, 100, 0.1);
  
      /* Font styles */
      font-family: 'Raleway', 'Lato', Arial, sans-serif;
      color: #fff;
      font-size: 13px;
}
